/*C:\Users\admin\Desktop\task6\gaga-demo\css\img*/
.sp-page{width:61px;height:52px;background-image:url(img/slice/page.jpg)}
.sp-edite{width:99px;height:97px;background-image:url(img/slice/edite.jpg)}
.sp-mine{width:51px;height:52px;background-image:url(img/slice/mine.jpg)}
.sp-date{width:40px;height:41px;background-image:url(img/slice/date.jpg)}
.sp-address{width:40px;height:33px;background-image:url(img/slice/address.jpg)}
